<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .list_container {
      }

      .list_container ul {
      }

      .list_container li {
        display: flex;
        /* width: 360px; */
        height: 100px;
        margin: 15px;
        background: #f7e1e1;
        -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
      }
      .list_container li:hover {
        background: #f9eaea;
      }

      .list_container li span {
        flex: 1;
      }
    </style>
  </head>
  <body>
    <h2>列表</h2>
    <hr />

    <div class="list_container">
      <ul>
        <li>
          <span>金额：</span>
          <span>时间：</span>
          <span>事项：</span>
        </li>
        <li>
          <span>金额：</span>
          <span>时间：</span>
          <span>事项：</span>
        </li>
        <li>
          <span>金额：</span>
          <span>时间：</span>
          <span>事项：</span>
        </li>
      </ul>
    </div>
  </body>
</html>
